{% load static %}
<div class="row align-items-center justify-content-center vh-100">
    <div class="col text-center">
        <img src="{% static 'img/logo.png' %}" class="img-fluid">
        <h1>Hi There!</h1>
        <p class="lead">
            If you see this page, it means you are ready.
        </p>
        <a class="btn btn-dark-danger">
        <i class="far fa-smile-wink fa-2x me-5"></i>
        <i class="far fa-smile-beam fa-2x me-5"></i>
        <i class="far fa-grin-beam fa-2x"></i>
        </a>
    </div>
</div>